    :focus {
    	outline: none;
    	/*-----------*/
    }

    body {

    	margin: 60px;
    	font-family: sans-serif;
    }


    ul {}

    li {

    	background: url(../img/check\ icon\ \(1\).svg) no-repeat;
    	padding: 0 35px;
    	list-style: none;
    }

    .li li:nth-child(1) {
    	text-decoration: line-through;
    }

    .li li:nth-child(2) {
    	font-weight: bold;
    }

    .li li:nth-child(3) {
    	font-style: oblique;
    }

    .li li:nth-child(4) {
    	text-transform: uppercase;
    }

    .bloc-li-hover {
    	width: 480px;
    }

    .li-hover li:hover {
    	text-shadow: 0px 5px 5px #80B7B3;
    	color: #d23333;
    	font-weight: bolder;
    	background: url(../img/check\ icon\ \(2\).svg) no-repeat;
    }

    button {
    	box-shadow: 0 0 15px #80B7B3;
    	border: none;
    	border-radius: 20px;
    	width: 199px;
    	height: 44px;
    	margin: 0 0 20px 40px;
    	background: #80B7B3 url(../img/Shape\ 2.svg) no-repeat 150px 50%;
    }

    button:hover {
    	box-shadow: none;
    	background: #3A5856 url(../img/Shape\ 2.svg) no-repeat 150px 50%;
    }

    button:active {
    	background: #818181 url(../img/Shape\ 2.svg) no-repeat 150px 50%;
    }

    span {
    	color: #fff;
    	text-transform: uppercase;
    	display: inline-block;
    	margin: 6% 25%;
    }



    input {
    	border-radius: 5px;
    	font-family: serifj;
    	font-style: oblique;
    	color: #7FBED5;
    	font-size: 30px;
    	margin: 0 0 0 40px;
    	width: 200px;
    	height: 50px;
    	border: solid 1px #666;
    	box-shadow: #666 1px 5px 5px;
    }

    input:focus {
    	box-shadow: 0 0 20px #7FBED5;
    }

    input:hover {
    	box-shadow: 0 0 20px#7FBED5;
    }